.footer{
    text-align: center;
    background-color: white;
    border: 1px solid #b8b8b9;
    
}

.copyright{
    color:#b8b8b9
}

.items-footer{
    display: flex;
    flex-direction: column;
    gap:10px;
    list-style: none;
    padding: 0;


}

.items-footer > li{
    font-size: 14px;
    color:#54585a;

}

.img-footer{
   width: 110px;
   height: auto;

}