@media all and (min-width:768px) {


    .gris {
        flex-direction: row;
        padding-left: 30px;
        padding-right: 30px;
    }
    .izquierda {
        flex-direction: row; 
    }
    .derecha {
        flex-direction: row-reverse;
    }
    
    .contenedor {
        width: 250px;
        height: 250px;
    
    }
    .left { 
        width: 60%;
        align-items: flex-start;
    
    }
      .right {
        width: 60%;
        align-items: flex-end;
    
      } 
      
    .nombre {
       margin-left: 30px;
       margin-top: 50px;
       margin-right: 30px;
    
    }
    .iz {
        text-align: left;
    }
    .de {
        text-align: right;
    }
    .rrss {
        margin-right: 30px;
        margin-left: 20px;
    }
    
    
    
    
    }
