<footer class="footer">
  <section class="section-copyright">
    <small class="copyright">Adavengers © 2022</small>
  </section>
  <section class="menu-footer">
    <nav class="nav-footer">
      <ul class="items-footer">
        <li><a href="./index.html#equipo"></a> EQUIPO</li>
        <li class="quienes-footer">
          <a href="./index.html#quienes"></a> QUIÉNES SOMOS
        </li>
        <li><a href="./index.html#contacto"></a> CONTACTO</li>
      </ul>
    </nav>
  </section>
  <div class="contenedor-logo">
    <img
      class="img-footer"
      src="./assets/Images/logo-adalab.svg"
      alt="logo-adalab"
    />
  </div>
</footer>
