.footer {
  text-align: center;
  background-color: white;
  border-top: 1px solid $color-fondo;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 45px;
  font-family: $font-family;

}

.copyright {
  color: $color-fondo;
  padding-top: 20px;

}

.items-footer {
  display: inline-block;

  list-style: none;
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 600;


}

.items-footer>li {
  font-size: 14px;
  color: $color-letra;
  line-height: 20px;

}

.img-footer {
  width: 100px;
  height: auto;
  padding-bottom: 20px;
}
