.footer {
  text-align: center;
  background-color: white;
  border-top: 1px solid $color-fondo;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 45px;
  font-family: $font-family;
  @media all and (min-width:768px) {

        text-align: left;
        padding-top: 30px;
        padding-bottom: 55px;
        height: 190px;


    }

}

.copyright {
  
  color: $color-fondo;
  padding-top: 20px;

  @media all and (min-width:768px) {
    text-align: left;
    padding-left: 45px;

}


}

.items-footer {
  display: inline-block;

  list-style: none;
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 600;
  @media all and (min-width:768px) {

        position: relative;
        display: flex;
        flex-direction: column;
        left: -45px;
        top: -30px;
        text-align: right;
    }


}
  .quienes-footer {
    @media all and (min-width:768px) {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}

.items-footer>li {
  font-size: 14px;
  color: $color-letra;
  line-height: 20px;

}


  .contenedor-logo {
    @media all and (min-width:768px) {
      display: flex;
      position: relative;
      justify-content: left;
      padding-left: 45px;
      bottom: 100px;
  }
}

.img-footer {
  width: 100px;
  height: auto;
  padding-bottom: 20px;
  @media all and (min-width:768px) {
    
        margin-bottom: 50px;
        left: 45px;
    
}
}